<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>APP_SETTINGS_DESC</string>
			<key>id</key>
			<string>AppSettingsGroup</string>
			<key>label</key>
			<string>APP_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>App_FollowGlobal</string>
			<key>label</key>
			<string>FOLLOW_GLOBAL</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>App_Enabled</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>APP_AGGRESSIVE_DESC</string>
			<key>id</key>
			<string>AppAggressiveGroup</string>
			<key>label</key>
			<string>AGGRESSIVE_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Detector_Aggressive</string>
			<key>label</key>
			<string>AGGRESSIVE</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>APP_HOOKS_DESC</string>
			<key>id</key>
			<string>AppHooksGroup</string>
			<key>label</key>
			<string>HOOK_TOGGLES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_Filesystem</string>
			<key>label</key>
			<string>HOOK_FILESYSTEM</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_DynamicLibrariesExtra</string>
			<key>label</key>
			<string>HOOK_DYNLIB</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_EnvVars</string>
			<key>label</key>
			<string>HOOK_ENVVARS</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_Foundation</string>
			<key>label</key>
			<string>HOOK_FOUNDATION</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_MachBootstrap</string>
			<key>label</key>
			<string>HOOK_MACHBOOTSTRAP</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_IOKit</string>
			<key>label</key>
			<string>HOOK_IOKIT</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_LowLevelC</string>
			<key>label</key>
			<string>HOOK_LOWLEVELC</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_AntiDebugging</string>
			<key>label</key>
			<string>HOOK_ANTIDEBUG</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_CodeSigning</string>
			<key>label</key>
			<string>HOOK_CODESIGNING</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_Syscall</string>
			<key>label</key>
			<string>HOOK_SYSCALL</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_Memory</string>
			<key>label</key>
			<string>HOOK_MEMORY</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_Sandbox</string>
			<key>label</key>
			<string>HOOK_SANDBOX</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_HideApps</string>
			<key>label</key>
			<string>HOOK_HIDEAPPS</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>id</key>
			<string>Universal_URLScheme</string>
			<key>label</key>
			<string>HOOK_URLSCHEME</string>
			<key>set</key>
			<string>setPreferenceValue:forSpecifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>AppResetGroup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>id</key>
			<string>AppReset</string>
			<key>label</key>
			<string>RESET_APP</string>
			<key>action</key>
			<string>resetAppSettings:</string>
			<key>isDestructive</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>APP_SETTINGS</string>
</dict>
</plist>
